<footer>
    <div id="copyright" class="padding-footer">
        <p>© copyright 2020 all rights reserved</p>
        
    </div>
    <div class="padding-footer">
        <p>insideout by design Ltd</p> 
        <p>622181</p>
    </div>
    <div class="padding-footer"> 
        <p>A/L 17 Nellfield Place</p>
        <p>Aberdeen</p>
        <p>AB10 6DE</p>
    </div>
    <div id="social-media">
        <a href="#" class="fa fa-instagram"></a> 
        <p>@isobydesign</p>
    </div>
</footer>