<nav id="navbar-primary" class="navbar navbar-default">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/home">Community Portal</a></li>
        <li><a href="/about-us">About us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/forums">Forums</a></li>
        {{#if session.email}}
          <li class="right"><a href="/log-out">Log Out</a></li>
        {{else}}
          <li class="right"><a href="/sign-in-up">Sign In / Up</a></li>
        {{/if}}
      </ul>
    </div>
</nav>