<section id="about_us">
    <h1 id="mission">Our mission</h1>
    <div class="first_part">
        <img src="/image/landlord.jpg" alt="landlord">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pellentesque posuere pharetra. Mauris ultricies volutpat libero, et rhoncus velit lobortis quis. Nam et ex in orci interdum ultricies non a purus. Aenean sit amet nibh congue, interdum metus nec, volutpat urna. Praesent non dui ante. Aenean quis interdum orci. Praesent id efficitur massa. Ut pellentesque sollicitudin orci vel ullamcorper. Cras lorem purus, porta sed pharetra sit amet, tristique id neque. Nunc semper tincidunt leo sed gravida. Etiam porta ipsum neque, nec efficitur mi dignissim id. Donec laoreet facilisis leo in ornare. Curabitur lectus libero, dapibus non tincidunt et, ultrices eu ipsum. </p>
    </div>
    <p class="text_below" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pellentesque posuere pharetra. Mauris ultricies volutpat libero, et rhoncus velit lobortis quis. Nam et ex in orci interdum ultricies non a purus. Aenean sit amet nibh congue, interdum metus nec, volutpat urna. Praesent non dui ante. Aenean quis interdum orci. Praesent id efficitur massa. Ut pellentesque sollicitudin orci vel ullamcorper. Cras lorem purus, porta sed pharetra sit amet, tristique id neque. Nunc semper tincidunt leo sed gravida. Etiam porta ipsum neque, nec efficitur mi dignissim id. Donec laoreet facilisis leo in ornare. Curabitur lectus libero, dapibus non tincidunt et, ultrices eu ipsum. </p>
</section>