<section id="about_us">
    <div id="mission-about">
        <p>Our mission is reversing stress and isolation by making it easier to be outside.</p>
        <p class="subtitle">We are pioneering a whole new way of supporting people improving the life of their communities.</p>
    </div>
    <div class="first_part">
        <img src="/image/landlord.jpg" alt="landlord">
        <p> Most communities have inherited a long-standing issue, 
            rooted in the housing crisis, originating in the industrial revolution.
            <br><br> 
            A human tragedy, isolation is a symptom of Nature Deficit Disorder            
            <br><br> 
            Originating in urban landscapes designed for the masses, 
            that breed social malaise and silently undermine our wellbeing. 
            By simply making it easier to stay inside. 
            And most days, most of us spend about 93% of our time inside, undermining our wellbeing.
            <br><br> 
            Scottish place making standards are starting to empower positive change here. 
            But all existing urban environments are left to contend with these erosive problems.
        </p>
    </div>
    <div class="team">
        <p class="text_below" >
            Fortunately, the government is currently encouraging active travel, 
            with most councils temporarily reallocating road space to walking and cycling. 
             movable, flexible Portals with their cycling maintenance and parking support are ideal 
            for both temporary pedestrianisation of arterial roads and cross-country cycle routes. 
        </p>        
        <br>
        <div class="row">
            <img class="" src="./image/team+Lina-480w.jpg" alt="">
            <img class="" src="./image/team+j-480w.jpg" alt="">
            <img class="" src="./image/team+adam-480w.jpg" alt="">
            <img class="" src="./image/team+maria-480w.jpg" alt="">
        </div>
        <br>
    </div>
</section>