<section id="forums">
    
<table>
   <tr>
    <th>Topic</th>
    <th>Author</th>
    <th>Last update</th>
  </tr>
  <tr class="topic">
      <td>Generale</td>
      <td>Clément</td>
      <td>10/11/2020</td>
  </tr>
   <tr class="topic">
      <td>Generale</td>
      <td>Clément</td>
      <td>10/11/2020</td>
  </tr>
</table>


</section>