<section>
    {{#each message}}
    <div class="message">
        <p><b>{{this.author}} {{formatDate this.datepost 'DD/MM/YYYY'}}</b></p>
        <br>
        <p>{{this.message}}</p>
    </div>
    {{/each}}

    <div>
        <form id="sendMessage" action="#" method="post">
            <textarea name="message" placeholder="Type your Message Here...." tabindex="1" required></textarea>
            <div class="relative">
                <button name="submit" type="submit" data-submit="...Sending">Submit</button>
            </div>
        </form>
    </div>
</section>