<section id="community-portal">
    <div id="mission">
       <b><p>Our <span class="orange">community portals</span> are a service, supporting wellbeing, </p>
        <p>a network, connecting communities </p>
        <p>and modular kits, making it easier to be outside,<span class="orange"> at your doorway, your way, every day.</span></p></b>
    </div>
    <div class="containerVideo">
        <video controls>
            <source src="video/example.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
    </div>
    <div class="row adjust">
        <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pellentesque euismod nunc, in pharetra metus aliquet sed. Praesent lacinia lacinia sem non ullamcorper. Morbi finibus ante dapibus sagittis viverra. Mauris viverra est ac fermentum sagittis. Nam non feugiat massa. Nulla turpis enim, pulvinar quis auctor id, consectetur ac purus. Etiam ac convallis elit.</p>
        </div>
        <img src="image/modular kit.jpg" id="kit" alt="community portal">
    </div>
    <div class="row adjust">
        <img src="image/modular kit 2.jpg" id="kit2" alt="community porta">
        <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pellentesque euismod nunc, in pharetra metus aliquet sed. Praesent lacinia lacinia sem non ullamcorper. Morbi finibus ante dapibus sagittis viverra. Mauris viverra est ac fermentum sagittis. Nam non feugiat massa. Nulla turpis enim, pulvinar quis auctor id, consectetur ac purus. Etiam ac convallis elit.</p>
        </div>
    </div>
</section>