<section id="community-portal">
    <div id="mission">
       <b><p>Our <span class="orange">community portals</span> are a service, supporting wellbeing, </p>
        <p>a network, connecting communities </p>
        <p>and modular kits, making it easier to be outside,<span class="orange"> at your doorway, your way, every day.</span></p></b>
    </div>
    <div class="containerVideo">
        <video controls>
            <source src="video/example.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
    </div>
    <div class="row adjust">
        <div class="description">
            <p> Insideout by design is making it easier to reconnect with nature and each other. 
                By engaging with wasted space surrounding existing buildings. 
                Places people pass through the most yet benefit from the least. 
                Our community portals are de-stressing epicentres, 
                customised to each community personality, aim and environment. 
                Making it easier to be outside,
                working or working out, relaxing or catching up with folk.
            </p>
        </div>
        <img src="image/modular kit.jpg" id="kit" alt="community portal">
    </div>
    <div class="row adjust">
        <img src="image/modular kit 2.jpg" id="kit2" alt="community porta">
        <div class="description">
            <p> Composed of kits that fit together creating functional spaces, 
                with sheltered seating, working surfaces, 
                adjustable parts for seasonal weather, 
                and Add-ons to enable activities like vertical gardening or bike maintenance. 
            </p>
        </div>
    </div>
</section>