<section id="contact-info">
    <div class="container">  
        <form id="contact" action="sign-up" method="post">
            <h3>Sign Up</h3>
            <br>
            <fieldset>
                <input name='name' placeholder="First name" id="LoginName" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input name='surname' placeholder="Last name" id="LoginSurname" type="text" tabindex="2" required autofocus>
            </fieldset>
            <fieldset>
                <input name='email' placeholder="Email" id="LoginEmail" type="email" tabindex="3" required autofocus>
            </fieldset>
            <fieldset>
                <input name='pwd' placeholder="Password" id="LoginPwd" type="password" tabindex="4" required>
            </fieldset>
            <fieldset>
                <button type="submit" id="login">Sign Up</button>
            </fieldset>
        </form>
    </div>
</section>