<section id="contact-info">
    <div class="container">  
        <form id="contact" action="sign-in" method="post">
            <h3>Sign In</h3>
            <br>
            <fieldset>
                <input name='email' placeholder="Email" id="LoginEmail" type="email" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input name='pwd' placeholder="Password" id="LoginPwd" type="password" tabindex="2" required>
            </fieldset>
            <fieldset>
                <button type="submit" id="login">Login</button>
            </fieldset>
            <a href="sign-up">Or you can sign up here</a>
        </form>
    </div>
</section>