*{
    margin: 0%;
}

header{
    display :flex;
    flex-direction: row-reverse;
}

header img{
    width: 50%;
    height: auto;
}

#navbar-primary{
    background: #333;
    border: none;
}

.navbar-nav { 
    text-align: center;
}

.navbar-nav li {
    display: inline-block;
    float: none;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 18px;
}

.navbar-nav li:hover {
    background: #777;
}

.navbar-nav a {
    display: block;
    color: #DDD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-instagram {
    background: #125688;
    color: white;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333;
    color: #DDD;
    text-align: center;
    font-size: 18px;
    margin-top: 1%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#social-media{
    margin-top: 1%;
    padding-bottom: 2%;
    padding-right: 5%;
    color: orange;
}

#copyright{
    padding-top: 1%;
    padding-left: 3%;

}

#footer-adress{
    padding-top: 2%;
}

#footer-ref{
    padding-left: 5%;
    padding-top: 2.5%;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	margin:15% 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact textarea {
	height:100px;
    max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:orange;
	color:#000;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact-info{
    display:flex;
    flex-direction: row;
}

.center-box{
    margin:10% 10%;
    font-size: 26px;
}