@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    margin: 0%;
    font-family: 'Fira Sans', sans-serif;
}

header{
    display :flex;
    flex-direction: row-reverse;
}

header img{
    width: 50%;
    height: auto;
}

#navbar-primary{
    background: #333;
    border: none;
}

.navbar-nav li {
    display: inline-block;
    padding: 0% 2%;
    font-size: 18px;
}

.navbar-nav li:hover {
    background: #777;
}

.navbar-nav a {
    display: block;
    color: #DDD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-instagram {
    background: #125688;
    color: white;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333;
    color: #DDD;
    text-align: center;
    font-size: 18px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#social-media{
    margin-top: 1%;
    padding-bottom: 2%;
    padding-right: 5%;
    color: orange;
}

#copyright{
    padding-top:1% ;
    padding-left: 3%;
}

#footer-adress{
    padding-top: 2%;
}

#footer-ref{
    padding-left: 5%;
    padding-top: 2.5%;
}

.container {
	width:40%;
	margin:0 auto;
    position:relative;
}

#contact input[type="text"],#contact input[type="password"],
#contact input[type="email"], #contact input[type="tel"],
#contact input[type="url"], #contact textarea,
#contact button[type="submit"] { 
    font:400 12px/16px 'Fira Sans', sans-serif; 
}

#contact {
	margin:15% 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"],#contact input[type="password"],
#contact input[type="email"], #contact input[type="tel"],
#contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact textarea {
	height:100px;
    max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:orange;
	color:#000;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact-info{
    display:flex;
    flex-direction: row;
}

.center-box{
    margin: auto;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

#community-portal{
    display: flex;
    flex-direction: column;
}

#kit{
    width: 50%;
    height: auto;
}

#kit2{
    width: 40%;
    height: auto;
}

.adjust{
    padding: 3% 10%;
}

.description{
    margin: auto;
    width: 60%;
    padding: 10px;
}

.description p{
    text-align: justify;
    text-justify: inter-word;
    width: 96%;
    height: auto;
    padding:0 2%;
    line-height: 1.7;
    color: #777;
    font-size: 17px;
}
.containerImg{
    width: 100%;
    margin: auto;
}

#street{
    width: 100%;
    height: auto;
}

.containerVideo{
    margin: auto;
    width: 60%;
    padding: 3% 0 0 0;
}

video {
    width: 100%;
    height: auto;
}

#mission{
    margin: auto;
    width: 80%;
    padding: 3% 0 0 0;
    text-align: center;
    font-size: 20px;
}

.orange{
    color: #F96;
    line-height: 1.4;
}

#about_us{
    margin: auto;
    width: 80%;
    padding: 10px;
}

.first_part p{
    text-align: justify;
    text-justify: inter-word;
    height: auto;
    line-height: 1.8;
    color: #777;
    font-size: 17px;

}

#mission-about{
    text-align: center;
    padding: 2%;
    font-size: 22px;
    padding: 2% 0;
}

.first_part{
    display: flex;
}

.first_part img{
    width: 40%;
    height: auto;
}

.first_part p{
    padding: 0 2%;
    width: 96%;

}
.text_below{
    margin-top: 2%;
    margin-right:0%;
}

.subtitle{
    font-size: 16px;
}
.team{
    margin: auto;
    width: 100%;
    padding: 10px;
}

.team p{
    text-align: justify;
    text-justify: inter-word;
    width: 96%;
    height: auto;

    line-height: 1.7;
    color: #777;
    font-size: 17px;
}

.team-picture{
    width: 30%;
    height: auto;
}

.team img{
    width: 35%;
    height: auto;

}

.right{
    float: right;
    margin-right: 2%;
}

table{
    margin:2% 20%;
    width: 60%;
    border-collapse: collapse;

}
table tr th {
    background-color: #333;
    color:#DDD;
    padding:2%;
}

.topic{
    cursor:pointer;
}

.topic td{
    padding: 2%;
}

.topic:nth-child(odd){
    text-align: center;
    background-color: rgba(252, 197, 96, 0.986);
}

.topic:nth-child(even){
    text-align: center;
    background-color: orange;
}

.message{
    background-color: orange;
    margin: 3%;
    padding: 2%;
}

#sendMessage{
    display: flex;
    flex-direction: row;
}
#sendMessage textarea{
    width:80%;
	border:1px solid #CCC;
	background:#FFF;
	margin: 3%;
    padding: 2%;
    resize: none;
    height: 60px;
}

.relative{
    position: relative;
}

#sendMessage button{
    background-color: orange;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    border: none;
    padding: 16px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -10px;
}

.member_talk{
    font-style: italic;
    margin-top: 10%;
    padding:2%;

}
